<%# render 'layouts/newtral_layout_head' %>
<!DOCTYPE html>
<html>
<head>
  <% set_meta_tags twitter: { :site => Settings.twitter_account} %>
  <%= display_meta_tags site: t('.site_title'), reverse: true %>

  <%= stylesheet_link_tag    'gobierto_budgets/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'gobierto_budgets/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :header %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="shortcut icon" href="http://newtral.es/wp-content/uploads/2018/02/favi-n.png" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="http://newtral.es/wp-content/uploads/2018/02/favi-n.png">

  <%= render 'layouts/analytics_header' %>

  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>

  <%= render "newtral_fonts" %>
  <%= render "newtral_styles" %>

</head>

<style>

/**** colors ****

brand             rgb(26, 224, 172); #1ae0ac;
brand-soft-3      rgb(26, 224, 172, 0.3);
brand-soft-1      rgb(26, 224, 172, 0.1);

brand-link        rgb(110, 180, 140); #6eb48c;

**/

.gobierto_container header.global,
.main_metrics .metric,
.ranking_card {
  background: rgb(26, 224, 172, 0.1);
}

.main_metrics .metric.selected,
.main_metrics .metric.selected:hover,
header.global menu ul li a,
.ranking_card:hover {
  background: rgb(26, 224, 172, 0.3);
  color:
}

header.global menu ul li a:hover,
header.global menu ul li a.selected {
  background: rgb(26, 224, 172, 0.5);
}

header.place .share_links a,
input[type="submit"],
.button,
.small_button,
.rankings .noUi-connect {
  background: rgb(26, 224, 172);
}

input[type="submit"]:hover,
.button:hover,
.small_button:hover {
  background: rgb(26, 224, 172, 0.8);
}

.pre_home h1 img {
  margin-top: -9px;
  margin-right: 10px;
}


/**** typography ****/
body {
  font-family: Helvetica,Lato,Arial,sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Raleway',sans-serif;
}
a {
  color: rgb(26, 224, 172);
}

.logo img {
  width: 80%;
  max-width: 120px;
}
.logo span.sub-title {
  opacity: 0.6;
}


/** layout IF NEWTRAL LAYOUT PRESENT
.gobierto_container header.global {
  width: 25%;
}
.gobierto_container .main_content {
  padding: 0;
}
.sticky-wrapper {
  visibility: initial;
}
.gobierto_container header.global .ham {
  opacity: .5;
}
.wrapper-boxed {
  overflow: initial;
}
**/


/* pending to check if we apply globally to comparator */
.year_switcher {
  width: auto;
}
.gobierto_container header.global {
  @include screen(740) {
    display: none;
  }
}

/* base color: #1ae0ac */

</style>

<body <%= data_attributes %>>

<div class="gobierto_container">

  <header class="global">

    <div class="logo">
      <%= link_to_unless_current image_tag('https://newtral.es/wp-content/uploads/2018/02/new.png'), root_path %>
      <span class="sub-title">Transparentia Municipal</span>
    </div>

    <div class="resp ham">
      <%= link_to '<i class="fa fa-bars"></i>'.html_safe, '' %>
    </div>

    <div class="desktop">

      <input type="text" class="places_search search_auto" value="" placeholder="<%= t('.search_municipality') %>" >

      <menu>
        <ul>
          <li><%= link_to t('.municipalities'), root_path, class: class_if('selected', current_page?(root_path))  %></li>
          <li><%= link_to t('.compare'), gobierto_budgets_compare_path , class: class_if('selected', current_page?(gobierto_budgets_compare_path) || action_name == 'compare')%></li>
          <li><%= link_to t('.rankings'), gobierto_budgets_ranking_path , class: class_if('selected', current_page?(gobierto_budgets_ranking_path) || action_name == 'ranking')%></li>
          <li><%= link_to t('.maps'), gobierto_budgets_map_path(year: GobiertoBudgets::SearchEngineConfiguration::Year.last), class: class_if('selected', current_page?(gobierto_budgets_map_path(Date.today.year))), data: {no_turbolink: true} %></li>
        </ul>
      </menu>

      <% if logged_in? %>
      <div class="links_list personal_links">
        <p><%= t('.hi') %> <strong><%= current_user.full_name %></strong></p>
        <% if current_user.place_id %>
          <p><%= t('.your_municipality') %>: <%= link_to INE::Places::Place.find(current_user.place_id).name, gobierto_budgets_place_path(INE::Places::Place.find(current_user.place_id), year: GobiertoBudgets::SearchEngineConfiguration::Year.last) %></p>
        <% end %>
        <p><%= link_to t('.edit_your_personal_data'), edit_user_path %></p>
        <p><%= link_to t('.close_session'), logout_path, method: :delete, class: 'logout' %></p>
      </div>
      <% end %>

      <div class="links_list">
        <h3><%= t('.recent_municipalities') %></h3>
        <ul id="history">
        </ul>
      </div>

      <div class="links_list">
        <h3><%= t('.recent_comparisons') %></h3>
        <ul id="comparisons-history">
        </ul>
      </div>

    </div>

  </header>

  <div class="main_content clearfix">
    <%= yield %>
  </div>

</div>

<footer>
  <div class="gobierto_ref center" >
    <p style="font-size: .75em; margin: 0 0 3em 0">Un producto de Gobierto <%= link_to image_tag('GobiertoFooter@2x.png', size: '401x18'), 'https://gobierto.es', target: '_blank', style: "vertical-align: middle; margin: 0 0 0 2em;" %></p>
    <p style="font-size: .75em;"><%= link_to t('.methodology_and_sources'), gobierto_budgets_about_path(anchor: 'method') %></p>
  </div>
</footer>


<script type="text/javascript">

    'use strict';
    <%= yield :javascript %>

</script>

<%= render 'layouts/analytics_footer' %>

<%# render 'layouts/newtral_layout_footer' %>

</body>
</html>
